#aviation1{
    font-family: 'Satisfy', cursive;
}

#aviation2{
    font-family: 'Patrick Hand', cursive;
    font-family: 'Satisfy', cursive;
    font-weight: lighter;
}

.image1st{
    width: 45%;
}