body{
    margin: 0;
}

#aviation1{
    font-family: 'Satisfy', cursive;
    font-size: 3em;
    text-decoration-color: gray;
}

#aviation2{
    font-family: 'Patrick Hand', cursive;
    font-family: 'Satisfy', cursive;
    font-weight: lighter;
    font-size: 1.5em;
    text-decoration-color: rgba(109, 104, 104, 0.822);
}
.setail{
    font-family: 'Patrick Hand', cursive;
    font-weight: 600;
    font-size: 1.1em;
}
section{
    display: flex;
}

.half-width{
    width: 100%;
    padding-left: 20px;
    background-color: wheat;

}

.half-width img{
    width: 100%;    
}

.first-link{
    text-decoration: none;
    background-color: #132626;
    color: wheat;
    border-radius: 12px;
    padding: 2px 10px;
}
.second-section{
    margin-top: 5px;
}
.half-width2{
    width: 100%;
    height: 431px;
}

.half-width-text2{
    width: 100%;
    padding-left: 20px;
    background-color: wheat;
}

.second-para{
    font-family: 'Signika Negative', sans-serif;
    text-align: justify;
    padding-right: 5px;
}

.second-link{
    text-decoration: none;
    font-weight: 400;
    border-radius: 5px;
    padding: 2px 10px;
}
#second-link{
    text-decoration: none;
    background-color:teal;
    border-radius: 5px;
    color: whitesmoke;
    padding:1px 8px;
}